<div>
    <button><a  [routerLink]="['/create/driver']"> Ajouter un nouveau chauffeur </a></button>
  </div>
  <div class="container custom-container-2">
    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="Drivers.length == 0">
      <p> Il y a aucun chauffeur .</p>
      <!-- <button class="btn btn-outline-primary" routerLink="/create-employee">
        Add Empoyee
      </button> -->
    </div>
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="Drivers.length !== 0">
      <h3 class="mb-3 text-center">Liste des Chauffeurs </h3>
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"> Id driver </th>
              <th scope="col"> Nom du chauffeur </th>
              <th scope="col"> Email du chauffeur : </th>
              <th scope="col"> Numéro de téléphone du chauffeur : </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let driver of Drivers">
              <td>{{ driver.id_drive}}</td>
              <td>{{ driver.name }}</td>
              <td>{{ driver.email }}</td>
              <td>{{ driver.phoneNumber }}</td>
              <td>
                <!-- <span class="edit" routerLink="/employee-edit/{{ employee.id }}"
                  >Edit
                </span> -->
                  <!-- <button type="button" (click)='deleteDelivery(deli.id_delivery)'> Supprimer </button>
                  <button><a  [routerLink]="['/delivery/',deli.id_delivery]" [queryParams]="{ idd:deli.id_delivery }"> Détail de la livraison </a></button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  