<mat-card *ngIf="driver" class="example-card" id="driverDetail">
    <mat-card-title> <h1> Details Du chauffeur </h1> </mat-card-title>
    <!-- <mat-card-subtitle> {{ driver.id_drive }} </mat-card-subtitle> -->
    <mat-card-content>
        <div>
            <h3> Nom du chauffeur :  </h3>
            <p>{{ driver.name }}</p>  
        </div>
        <div>
            <h3> Email du chauffeur :  </h3>
            <p>{{ driver.email }}</p>  
        </div>
        <div>
            <h3> Numéro de téléphone du chauffeur : </h3>
            <p>{{ driver.phoneNumber }}</p>  
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button (click)="createPdf()" > Génerer un PDF </button> -->
        <button mat-button > <a [routerLink]="['/driver']">Retour</a></button>
    </mat-card-actions>
</mat-card>

<h1> Modifier les détails de livraison </h1>
<form [formGroup]="updateDriverForm"  (ngSubmit)="updateDriver()">
<!--     
    <label for="name"> Nom du chauffeur : </label>
    <input id="name" type="text" formControlName="name">
  
    <label for="email"> Email du chauffeur : </label>
    <input id="email" type="text" formControlName="email">

    <label for="phoneNumber"> Numéro de téléphone du chauffeur :  </label>
    <input id="phoneNumber" type="text" formControlName="phoneNumber"> -->

    <mat-form-field appearance="fill" class="name">
        <mat-label  for="name" >  Nom du chauffeur :</mat-label>
        <input matInput placeholder="name" id="name" formControlName="name" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="email">
        <mat-label  for="email" >  Email :</mat-label>
        <input matInput placeholder="email" id="email" formControlName="email" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="phoneNumber">
        <mat-label  for="phoneNumber" > mot de passe :</mat-label>
        <input matInput placeholder="phoneNumber" id="phoneNumber" formControlName="phoneNumber" />
    </mat-form-field>
    <br>
    <button type="submit">Submit</button>

</form>