.buttonDisconnect
    margin-top: 1em
    background-color: #3a8f5f98
    border-radius: 10px
.connection_tab
    border: 1px solid
    border-radius: 5px 
    background-color: #44bee098
    margin-left: 40em
    padding: 5px

.connection_title